.cm-s-jh {
  font-style
	font-size: 12px;
	line-height: 1em;
	font-family: monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #111111;
	color: #d8d8d2;
}
.cm-s-jh .CodeMirror-lines { /*  */
	padding: 8px 0;
}
.cm-s-jh .CodeMirror-gutters { /*  */
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #000000;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-jh div.CodeMirror-cursor { /*  */
	border-left: 3px solid #F8F8F2;
}
.cm-s-jh .CodeMirror-activeline-background { /*  */
	background: #49483E;
}
.cm-s-jh .CodeMirror-selected { /*  */
	background: #49483E;
}
.cm-s-jh .cm-comment { /*  */
	color: #75715E;
}
.cm-s-jh .cm-string { /*  */
	color: #E6DB74;
}
.cm-s-jh .cm-number { /*  */
	color: #66D9EF;
}
.cm-s-jh .cm-atom { /*  */
	color: #66D9EF;
}
.cm-s-jh .cm-keyword { /* <var> i -- <let> i -- import -- this */
	color: #75875a;
}
.cm-s-jh .cm-variable { /* <i> = 123; */
	color: #A6E22E;
}

.cm-s-jh .cm-def { /* var <i> -- function (<i>) -- variable definition*/
	font-style: italic;
	color: #FD971F;
}
.cm-s-jh .cm-variable-2 { /* <i>.something -- somefunc(<i>); -- use of variable*/
	/*color: #F92672;*/
  color: #CD4700;
}


.cm-s-jh .cm-property { /* something.<i> */
	color: #46b9cF;
}
.cm-s-jh .cm-operator { /*  */
	color: #F92672;
}
.cm-s-jh .CodeMirror-linenumber { /*  */
	color: #75715E;
}
